name: Reusable CI

on:
  workflow_call:
    inputs:
      stack:
        required: false
        type: string
      skip_tests:
        required: false
        type: boolean

jobs:
  ci: 
    name: Detecta Stack e Executa Testes
    runs-on: ubuntu-latest

    permissions:
      contents: write       # Necessário para operações gerais de escrita
      pull-requests: write  # ESSENCIAL: Concede permissão para criar e manipular Pull Requests.
      actions: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Detect project stack
        id: detect
        run: |
          chmod +x scripts/detect-stack.sh
          echo "stack=$(scripts/detect-stack.sh)" >> $GITHUB_OUTPUT

      - name: Run unit tests
        run: |
          chmod +x scripts/test-${{ steps.detect.outputs.stack }}.sh
          scripts/test-${{ steps.detect.outputs.stack }}.sh
