name: Reusable CI

on:
  workflow_call:
    inputs:
      stack:
        required: false
        type: string
      skip_tests:
        required: false
        type: boolean

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Detect stack
        uses: ./.github/actions/detect-stack

      - name: Run unit tests
        uses: ./.github/actions/run-tests
