name: Reusable CI

on:
  workflow_call:
    inputs:
      stack:
        required: false
        type: string
      skip_tests:
        required: false
        type: boolean

jobs:
  ci: 
    name: Detecta Stack e Executa Testes
    runs-on: ubuntu-latest

    permissions:
      contents: write       # Necessário para operações gerais de escrita
      pull-requests: write  # ESSENCIAL: Concede permissão para criar e manipular Pull Requests.
      actions: read

    steps:
      - name: Checkout ci-cd-reusable scripts
        uses: actions/checkout@v4
        with:
          repository: heliomarpm/ci-cd-reusable
          ref: main
          path: .ci


      - name: Detect project stack
        id: detect
        working-directory: ${{ github.workspace }}
        run: |
          chmod +x .ci/scripts/detect-stack.sh
          echo "stack=$(.ci/scripts/detect-stack.sh)" >> $GITHUB_OUTPUT

      - name: Run unit tests
        working-directory: ${{ github.workspace }}
        run: |
          chmod +x .ci/scripts/test-${{ steps.detect.outputs.stack }}.sh
          .ci/scripts/test-${{ steps.detect.outputs.stack }}.sh
